/* Notificação */


.botao-cotar {
    padding: 5px 5px;
    background: #276eda !important;
    color: #FFF;
    margin: auto;
    font-size: 14px;
    text-align: center;
    margin: 19px 9px !important;
    justify-content: center !important;
    cursor: pointer !important;
    border-radius: 5px;
}


h2#modal-title {
    color: #005bff;
    font-size: 1.6rem;
    /* text-align: center; */
    font-weight: 400;
}

.g-recaptcha {
    margin: 10px;
    display: flex;
    justify-content: center;
}

#medidas-etiquetas {
    display: none;
}

#medidas-rotulos {
    display: none;
}

form {
    width: 100%;
    margin-left: -2px;
}

.dual-input-fields select {
    width: 100%;
    padding: 20px 10px;
    margin: 13px 4px;
    border-radius: 5px;
    border: 2px solid #e0e3eb;
    font-size: 16px;
    color: rgb(92, 92, 92);
    font-weight: bold;
    cursor: pointer;
}

.dual-input-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.notify {
    display: none !important;
    background-color: dodgerblue;
    color: rgb(167, 167, 167);
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.progress-cover {
    display: none !important;
    background-color: lightgray;
    height: 5px;
    width: 100%;
}

.progress-content {
    background-color: rgb(0, 255, 115);
    height: 5px;
    width: 0%;
}

.close-form-notify {
    z-index: 1;
    padding: 5px;
    margin-left: 10px;
    color: white;
    font-size: 32px;
    cursor: pointer;
}

#notify-string {
    color: white;
}

.box-form section {
    background-color: transparent !important;
}

.btn-primary {
    background-color: #005bff !important;
    border: 1px solid #005bff!important;
    color: #fff !important;
    box-shadow: 0 3px 5px 0 rgb(47 85 212 / 30%);
    margin-bottom: 0px;
    white-space: nowrap;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
}

.btn {
    margin: 0.25em !important;
}

input {
    padding: 15px;
    margin: 4px !important;
    border: none;
    border-radius: 5px;
    width: 90%;
    border: 2px solid #e0e3eb;
}

input::placeholder {
    font-weight: bold;
}

textarea {
    overflow: auto !important;
    vertical-align: top !important;
    margin: 3px !important;
    width: 96% !important;
    height: 50px !important;
    border: 2px solid #e0e3eb;
}

textarea::placeholder {
    font-weight: bold;
    resize: none;
}


/* The form (background) */

.box-form {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* form Content */

.box-form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    box-shadow: 2px 1px 8px rgba(12, 7, 7, 0.837);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    height: 60%;
    border-radius: 7px;
}

.branding {
    width: 75%;
    padding: 15px;
    margin: 10px;
    margin-left: 0px;
    padding-left: 0px;
    text-align: center;
}

.branding p {
    text-align: center;
}

.branding img {
    width: 300px;
    height: 300px;
    padding: 15px;
    /* margin-left: 20px; */
    margin: 10px;
    margin-left: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    text-align: center;
}


/* The Close-form Button */

.close-form {
    color: #aaaaaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    left: 97%;
    bottom: 47%;
}

.close-form:hover,
.close-form:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.btn-fechar-form {
    display: none;
    background-color: white !important;
    border: 1px solid #222d38 !important;
    color: #222d38 !important;
    white-space: nowrap;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 0;
    font-size: 14pt;
}

.input-fields input {
    width: 92%;
}

.input-fields input::placeholder {
    font-size: 14px;
}

.input-fields textarea {
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
}

.dual-input {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.divider {
    color: #000;
    border: solid 2px #e0e3eb;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 0;
    width: 99%;
    margin: 12px 0px;
}

.divider-field {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.btn-field {
    display: flex;
    justify-content: center;
}

#btn-form {
    width: 98%;
    text-align: center;
    font-size: 14pt;
}

#form-title {
    font-size: 2rem;
    color: #2762c3;
    margin-bottom: 0;
    text-align: center;
}

.hide-desk {
    display: none;
}

.box-form .box-form-content {
    margin-top: 0px !important;
    color: #333;
}

#dimensoes {
    font-size: 12pt;
    color: #005bff;
    margin: 5px;
}

.special-settings {
    padding: 12px 0px;
}

#campo-obrigatorio {
    font-size: 10pt;
}

#btn-modal {
    margin-top: 15px !important;
}

.italic-info {
    font-size: 10pt;
    font-style: italic;
    line-height: 15px;
    text-align: center;
    padding: 0px 50px;
}


/*    Media Queries  */

@media only screen and (max-width: 1366px) {
    .input-fields input {
        width: 91%;
        height: 18px;
    }

    .box-form-content {
        height: 89%;
    }

    .box-form .box-form-content {
        margin-top: -80px !important;
    }

    .box-form-content {
        width: 40%;
    }

    .box-form {
        z-index: 999999 !important;
    }

    .close-form {
        bottom: 49%;
    }

    #modal-title {
        width: 80%;
    }
}

@media only screen and (max-width: 1280px) {
    .box-form-content {
        height: 73%;
    }

    .box-form .box-form-content {
        margin-top: 1px !important;
    }

    #form-title {
        margin-bottom: 7px;
    }
}

@media only screen and (max-width: 600px) {
    #form-title {
        margin-bottom: 15px;
    }

    .box-form-content p {
        display: none;
    }

    .hide-desk {
        display: block;
    }

    .branding {
        display: none;
    }

    .input-fields input {
        width: 87%;
        height: 18px;
    }

    .close-form {
        color: #aaaaaa;
        float: right;
        font-size: 40px;
        font-weight: bold;
        position: absolute;
        left: 88%;
        bottom: 93%;
    }

    #campo-obrigatorio {
        margin-top: 5px;
    }

    .box-form .box-form-content {
        width: 85%;
        height: 83vh;
        margin-top: -90px !important;
    }

    .btn-primary {
        margin-bottom: 0 !important;
    }

    #btn-form {
        width: 98%;
        text-align: center;
        font-size: 14pt;
    }

    .btn-fechar-form {
        display: block;
    }

    .close-form {
        font-size: 40px;
    }

    .thumbnails li .botao,
    .thumbnails li .botao-cotar {
        padding: 5px 5px;
        color: #FFF;
        margin: auto;
        font-size: 14px;
        text-align: center;
        margin: 17px 92px !important;
        justify-content: center !important;
    }

}

@media only screen and (max-width: 1920px) {

    .box-form .box-form-content {
        margin-top: 60px;
        color: #333 !important;
        height: 80vh;
    }

    form {
        width: 100% !important;
        margin-left: 0px !important;
    }

    #btn-modal {
        /* margin-top: 45px !important; */
        width: 600px;
    }

    .close-form {
        left: 90%;
    }

}